.media.answer
  .media-body
    .media-heading
      %a{href: 'javascript:;'}
        %span.glyphicon.glyphicon-user
      %a{href: 'javascript:;'}= @answer.creator.try(:name)

    .content
      = @answer.content

    .meta
      .pull-left.text-muted= @answer.created_at
      %a.pull-left.ml30{href: 'javascript:;'}
        %span.glyphicon.glyphicon-thumbs-up
        有帮助
        %span.vote-num
          - if @answer.vote_sum > 0
            = "(#{@answer.vote_sum})"
      .clearfix
