- if @question.answers.any?
  .media.has-answer
    .media-left
      .answers-count
        = @question.answers.count
        %br
        个回答
    .media-body
      .media-heading
        %a{href: 'javascript:;'}= @question.title
      .intro
        %a.pull-left{href: 'javascript:;'} 宏观经济学：4-4 经济周期
        .pull-left.ml30.text-muted= @question.created_at
        .pull-right
          %a.answers-toggle{href: "javascript:;"}
            .closed
              %span.glyphicon.glyphicon-chevron-down
              展开回答
            .opened
              %span.glyphicon.glyphicon-chevron-up
              收起回答
        .clearfix

      - if @user_answers
        - @user_answers.each do |answer|
          = render_cell :bank_qa, :answer, answer: answer

      .answers
        - @answers.each do |answer|
          = render_cell :bank_qa, :answer, answer: answer

- else
  .media.no-answer
    .media-left
      .answers-count
        0
        %br
        无回答
    .media-body
      .media-heading
        %a{href: 'javascript:;'}= @question.title
      .intro
        %a.pull-left{href: 'javascript:;'} 微观经济学：1-8 影响供给的因素
        .pull-left.ml30.text-muted= @question.created_at

